/**
 * Author: petar
 * Date: 8/4/13
 */
.shadow-top {
  box-shadow: 0 0 10px -2px #333333;
}
#map-canvas {
  height: 100%;
}
/* Bottom Navigation - Tooltips */
#bottomNav {
  xpointer-events: none;
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  width: 100%;
}
#infoBox {
  clear: both;
  display: none;
  background-color: #FFFFFF;
  height: 90px;
  box-shadow: 0 0 10px -2px #333333;
}
/* Tooltip left hand side items */
.city {
  color: #222222;
  font-weight: bold;
  font-size: 17px;
}
.address {
  color: #9A9A9A;
  font-size: 16px;
  line-height: 16px;
}
/* Tooltip action items */
.description {
  font-size: 15px;
}
#directions-link {
  position: relative;
  top: -8px;
  left: -8px;
}
#directions-link .icon-direction {
  color: #3DB6E3;
  font-size: 40px;
  width: 100%;
  text-align: center;
}
/* End tooltip */
/****************/
.col-left {
  float: left;
  line-height: 23px;
  padding: 20px 20px 20px 25px;
}
.col-right {
  position: absolute;
  right: 0;
  line-height: 23px;
  padding: 20px 20px 20px 25px;
  background-color: #fff;
  z-index: 5;
  box-shadow: -5px 5px 10px 0 #ffffff;
}
.col {
  float: left;
  line-height: 23px;
  padding: 20px 20px 20px 25px;
}
.snap-drawer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}
.left-drawer {
  z-index: 1;
  width: 320px;
}
.snap-wrap-page {
  position: absolute;
  z-index: 2;
}
